/*This is the CSS page for our final template.*/

.footer 
p {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}


.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: yellow;
	color: #068D9D;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
	font-family: 'Oswald', serif;
}

img {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
}
body {
    animation: fadeIn 1.2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}






.oswald-subhead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}

.footer 
p {
    font-family: 'Times New Roman', serif;
    background-color: yellow;
    font-size: 20px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

